# Version control
.git
.gitignore

# Virtual environments
venv/
streamlit_venv/
demo_venv/
*venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node modules
node_modules/
package-lock.json

# Miscellaneous
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local 
 